/* === MIXINS === */
/* Sourced from:
   http://web-design-weekly.com/2013/05/12/handy-sass-mixins/
   http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
   http://nicolasgallagher.com/micro-clearfix-hack/ */

/* BORDER BOX FIX */
@mixin box-sizing($box-model) {
 -webkit-box-sizing: $box-model; // Safari <= 5
    -moz-box-sizing: $box-model; // Firefox <= 19
         box-sizing: $box-model;
}

/* BORDER RADIUS */
@mixin border-radius($radius) {
 -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
     -ms-border-radius: $radius;
         border-radius: $radius;
}

/* CLEARFIX */
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/* FONT SIZE */
@mixin font-size($sizeValue: 12){
  font-size: $sizeValue + px; //fallback for old browsers
  font-size: (0.125 * $sizeValue) + rem;
}

/* MEDIA QUERIES */
@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 64.375em) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 50em) { @content; }
  }
  @else if $point == small {
    @media (min-width: 37.5em)  { @content; }
  }
}

/* RETINA IMAGES */
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

/* ROTATE */
@mixin rotate($degrees) {
  transform:rotate($degrees);
  -ms-transform:rotate($degrees);
  -webkit-transform:rotate($degrees);
}

/* TEXT TRUNCATE */
%text-truncate {
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}    

/* VISUALLY HIDE W/ ACCESSIBILITY */
%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

