/* === TYPOGRAPHY === */
$helvetica: "Helvetica Neue", Helvetia, Arial, sans-serif;

/* === COLORS === */
$primary-color: #f55243;
$primary-fade-color: #f27d63;
$page-bg-color: #555;
$table-bg-color: #eeefef;
$table-border-color: #a4a7aa;
$text-knockout-color: #fff;
$text-title-color: #57585b;
$text-copy-color: #414042;
$text-active-color: #f17c62;
$text-detail-color: #a4a7aa;
$menu-color: #414042;
$menu-divider-color: #727375;