/* === TYPOGRAPHY === */
$helvetica: "Helvetica Neue", Helvetia, Arial, sans-serif;

/* === COLORS === */
$primary-color: #f55243;
$primary-text-color: #f07d67;
$primary-fade-color: #f27d63;
$page-bg-color: #e9e9e9;
$table-bg-color: #fff;
$table-divider-color: #fafafa;
$table-border-color: #ddd;
$text-knockout-color: #fff;
$text-title-color: #57585b;
$text-copy-color: #414042;
$text-active-color: #f17c62;
$text-detail-color: #a4a7aa;
$menu-color: #555;
$stats-bg-color: #ccc;
$menu-divider-color: #727375;
$icon-light-color: #999;
$btn-tap-color: #e2e2e2;
$img-border-color: #ddd;