/* === IMPORTS === */
@import 'styles';
@import 'mixins';

/* === RESETS === */
*,
*:after,
*:before {
  @include box-sizing(border-box);
}

/* === GLOBAL STYLES === */
html {
  font-size: 65%;
  line-height: 1.375em;
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  background: $page-bg-color;
  font-family: $helvetica;
  color: $text-copy-color;
  -webkit-text-size-adjust: none;
}
body * {
  text-shadow: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 2rem 0 1rem 0;
  color: $text-title-color;
  line-height: 1;
  font-weight: bold;
}

/* === HELPERS === */
.dwyer {
  display: block;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
.right {
  float: right
}
.left {
  float: left
}
.center {
  text-align: center
}
.hide {
  display: none;
  line-height: 0
}
.hidden {
  visibility: none
}
.clear {
  clear: both
}

/* === COMPONENTS === */
.action-sheet {
  height: 100%;
  img {
    display: table;
    width: 109px;
    height: auto;
    margin: 0 auto;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #e2e2e2;
  }
}

header.bar-nav {
  position: relative;
  height: 4.4rem;
  background-color: $primary-color;
  @include font-size(16);
  font-weight: bold;
  text-align: center;
  }
  .icon {
    color: $text-knockout-color;
    font-weight: normal;
  }
  .ion-log-in {
    font-size: 100%;
    bottom: .1rem;
  }
  h1, h1.title, a.btn-link, a.btn-link span {
    color: $text-knockout-color;
  }
  h1.logo {
    position: relative;
    top: .7rem;
    height: 2.5rem;
    width: 10.6rem;
    margin: 0 auto;
    background: url('/img/logo_head.png') no-repeat 0 0 transparent;
    @include image-2x('/img/logo_head_2x.png', 10.6rem, 2.5rem);
  }
  .status {
    position: absolute;
    left: 2.4rem;
    top: .4rem;
    z-index: 100
  }
  .status.badge {
    padding: 2px 5px 3px;
    font-weight: normal;
  }

.bar-header-secondary {
  background-color: $menu-color;
  p {
    color: $text-knockout-color;
  }
}

.content {
  background-color: $page-bg-color;
  .subhead {
    background-color: $page-bg-color;
    display: none;
  }
  .subhead h3 {
    margin: 0;
    padding: 1rem;
    color: $text-knockout-color;
    @include font-size(18);
  }
}

.table-view {
  margin-top: 0;
  text-align: left;
  h4 {
    padding: 0;
    margin: 0;
    font-weight: normal;
  }
  p {
    padding: 0;
    font-weight: normal;
    line-height: 1.75rem;
  }
  li {
    font-family: $helvetica;
    line-height: 1.375em;
  }
  img {
    float: left;
    margin: 0;
    padding: 0;
  }
  .copy {
    margin-left: 6rem;
    p {
      margin-top: .3rem;
      color: $text-copy-color;
    }
    .time {
      float: right;
      font-size: 1.2rem;
      color: $text-detail-color;
      margin-right: -4.5rem;
    }
    p.stats {
      font-size: 1.2rem;
    }
    p .icon {
      color: $text-active-color;
      padding: 0 .2rem 0 1rem;
      @include font-size(15);
    }
    p .icon:first-child {
      padding-left: 0;
    }
  }
}
.content > .table-view:first-child {
  margin-top: 0;
}

.content-main .table-view {
  background-color: $table-bg-color;
  border-bottom: 1px solid $table-border-color;
  h4 {
    color: $text-copy-color;
  }
  p {
    color: $text-copy-color;
  }
}

.menu { }
.menu_right h4 { color: $text-knockout-color; }

.side-menu {
  background: $menu-color;
  color: $text-knockout-color;
  .content, .table-view {
    background: $menu-color;
    color: $text-knockout-color;
  }
  .content {
    padding-top: 3rem;
  }
  .table-view, .table-view-cell {
    border: none;
  }
  .table-view {
    border-top: 0;
  }
  .icon {
    border: 1px solid #777;
    @include border-radius(2rem);
    padding: .8rem 1rem;
    margin-right: 1.5rem;
  }
  .table-view h4 {
    font-size: 1.5rem;
    color: $text-knockout-color;
  }
  .selected .icon, .selected h4 {
    color: $primary-color;
    border-color: $primary-color;
  }
} 

/* Table view */
.table-view.flush { margin-bottom: -1px; }

/* === PAGES === */
.splash {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  background: $primary-color;
  h1 { margin-top: 20rem; font-size: 150%; }
  .icon { font-size: 200%; }
}

.welcome {
  .content {
    background: $primary-color;
    padding: 0;
    margin: 0;
  }
  .slider {
    display: block;
    position: absolute;
    z-index: 2000;
    height: 75% !important;
  }
  .top { 
    position: absolute;
    height: 100%;
    width: 100%;
    h1 {
      width: 15.4rem;
      height: 30%;
      margin: 0 auto;
      padding: 0;
      background: url('/img/logo_splash.png') no-repeat 0 bottom;
    }
    h2 {
      width: 15.4rem;
      height: 15%;
      margin: 0 auto;
      padding: 0;
      background: url('/img/logo_splash.png') no-repeat 0 bottom;
    }
    p {
      color: $text-knockout-color;
      font-size: 150%;
      margin: 1rem auto 0 auto;
      text-align: center;
      font-family: $helvetica;
    }
  }
  .ribbon_bg {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .ribbon_bg, .top .ribbon {
    padding: 1rem 0;
    background-color: $menu-color;
  }
  .top .ribbon {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    color: $text-knockout-color;
  }
  .bottom {
    position: absolute;
    bottom: 0;
    height: 25%;
    min-height: 10rem;
    width: 100%;
    background: url('/img/bg_zigzag.png') repeat center center;
    .arrow {
      position: absolute;
      display: table;
      top: -13px;
      left: 50%;
      margin-left: -13px;
      height: 25px;
      width: 25px;
      background-color: $menu-color;
      @include rotate(45deg);
    }
    .paginator {
      display: table;
      position: absolute;
      top: 20%;
      left: 0;
      margin: 0 auto;
      padding: 0;
      position: relative;
      list-style: none;
    }
    .paginator li {
      float: left;
      height: 1.6rem;
      width: 1.6rem;
      margin: 0 .3rem;
      background-color: #fff;
      border: .1rem solid #BBBDC0;
      @include border-radius(100%);
    }
    .paginator li.selected {
      background-color: $primary-color;
      border-color: #888;
    }
    button {
      position: absolute;
      bottom: 20%;
      left: 0;
      padding: 0;
      margin: 0 10%;
      width: 80%;
      height: 35%;
      background-color: $primary-color;
      text-transform: uppercase;
      color: $text-knockout-color;
    }
  }
  .slider {
    background-color: $primary-color;
  }
  .slider, .slide-group {
    height: 100%;
  }
  .slide-img {
    display: table;
    position: absolute;
    bottom: .5rem;
    z-index: 0;
  }
  .slide-img1 {
    height: 17.4rem;
    width: 100%;
    background: url('/img/img_welcome_drink.png') no-repeat center 0;
    max-width: 100%
  }
  .slide-img2 {
    top: 30%;
    height: 33.5rem;
    width: 100%;
    background: url('/img/img_welcome_chat.png') no-repeat center 0;
    max-width: 100%
  }
  .slide-img3 {
    top: 30%;
    height: 33.5rem;
    width: 100%;
    background: url('/img/img_welcome_chat.png') no-repeat center 0;
    max-width: 100%
  }
  .slide-img4 {
    top: 30%;
    height: 33.5rem;
    width: 100%;
    background: url('/img/img_welcome_chat.png') no-repeat center 0;
    max-width: 100%
  }
}

/* ----------- */
/* To organize */
/* ----------- */

.emotes { font-style: italic; }

/* todo: hack, do this properly */
.fullWidth {
  position: relative;
  top: -11px;
  left: -15px;
  width: 120%;
}

.list-item-enter {
  opacity: 0.01;
  margin-top: -30px;
  margin-bottom: -29px;
  -webkit-transform: scale3d(1, 0, 1);
  transition: opacity .15s, margin .15s, -webkit-transform  .15s;
}
.list-item-enter.list-item-enter-active {
  opacity: 1;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-transform: scale3d(1, 1, 1);
}
.list-item-leave {
  opacity: 1;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-transform: scale3d(1, 1, 1);
  transition: opacity .15s, margin .15s, -webkit-transform .15s;
}
.list-item-leave.list-item-leave-active {
  opacity: 0.01;
  margin-top: -30px;
  margin-bottom: -29px;
  -webkit-transform: scale3d(1, 0, 1);
}