/* === IMPORTS === */
@import 'styles';
@import 'mixins';

/* === GLOBAL STYLES === */
a {
//  color: black;
}

html, body, .container, .sideMenuWrapper {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.screens {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  -webkit-transition: -webkit-transform .2s ease;
     -moz-transition:    -moz-transform .2s ease;
          transition:         transform .2s ease;

  & > * {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

    &.hide {
      left: 100%;
      right: -100%;
    }
  }

  &.rs-showRight {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  &.rs-showCenter {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  &.rs-showLeft {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  /* https://github.com/driftyco/ionic/blob/master/scss/_transitions.scss */
  &.rs-transition {
    // keep these durations in sync with `App.changeScreen` delay
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
    transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
  }

  &.rs-notransition {
    -webkit-transition-property: none;
    transition-property: none;
  }

  .rs-left {
    left: -100%;
    right: 100%;
  }

  .rs-right {
    left: 100%;
    right: -100%;
  }

  .pane {
    background-color: rgba(255,255,255,1);
  }
}

.bar .button.back-button {
  padding: 6px 18px 35px 6px;
  margin-top: -6px;
  margin-left: -6px;
}

.button {
  border-radius: 300px;
}

.button.button-assertive {
  background-color: #ef4136;
}

.bar-flat {
  background: transparent;
}

.list-topless .item:first-child {
  border-top: 0;
}

.list-inset-dotted {
  margin: 0 20px;
  .item {
    border-left: 0;
    border-right: 0;
    border-style: dashed;
  }
  .item:first-child {
    border-top: 0;
  }
  .item:last-child {
    border-bottom: 0;
  }
}

.col-12-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 12.5%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 12.5%;
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

/* === HELPERS === */
.dwyer {
  display: block;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

.right {
  float: right
}
.left {
  float: left
}
.center {
  text-align: center
}
.hide {
  display: none;
  line-height: 0
}
.hidden {
  visibility: none
}
.clear {
  clear: both
}

/* === COMPONENTS === */
.bar.bar-stable {
  background-color: rgba(0,0,0,.9);
  background-size: 0px;
  color: $text-knockout-color;
  .title {
    color: $text-knockout-color;
  }
  .button {
    color: $text-knockout-color;
  }
}

.bar-header h1.title .logo {
  display: inline-block;
  height: 1.2rem;
  width: 1.4rem;
  position: relative;
  left: -.4rem;
  top: 3px;
  background: url('../img/new_logo_lt.png') 50% 50%;
  background-size: 100% 100%;
  @include image-2x('../img/new_logo_lt_2x.png', 100%, 100%);
}

.bar-footer .button-full {
  margin: 0;
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
}
.bar-footer .title-link {
  font-size: 100%;
  font-weight: inherit;
}

.item-commentform {
  textarea {
    width: 100%;
    height: 60px;
    border: 1px solid #ddd;
    resize: none;
  }
  button {
    float: right;
    margin-top: 10px;
  }
}

.timestamp {
  font-size: 90%;
  font-style: italic;
}

.amount span {
  font-size: 75%;
}

.item-fulfillform {
  .row, .col {
    padding: 0;
  }
  .col:nth-of-type(even) {
    padding-left: 10px;
  }
  input, textarea {
    border: 1px solid #ddd;
  }
  input {
    padding-left: 4px;
    width: 100%;
  }
  textarea {
    width: 100%;
    height: 60px;
    resize: none;
    margin-bottom: 10px;
  }
}

.leftalign-with-avatar {
  padding-left: 72px;
}

.item-history {
  .right, .subdued {
  }
  &:last-of-type {
    img {
      border-radius: 0;
    }
  }
}

.item-avatar .unread {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 14px;
  height: 14px;
  background: #E7982A;
  border-radius: 50%;
}

.item-history .right {
  font-size: 80%;
}

/* instructions */
.item .instructions {
  padding-bottom: 1rem;
}

.item-avatar {
  background-color: #f5f5f5;
}

.item-history {
  background-color: #fff;
}

/* === SCREENS === */

/* splash */
.splash {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  background: $primary-color url('../img/splash.jpg') no-repeat 50%;
  background-size: 100% 100%;
  @include image-2x('../img/splash_2x.jpg', 100%, 100%);
  color: $text-knockout-color;
  h1 {
    display: none; // hiding the logo for now
    margin-top: 20rem;
    width: 100%;
    height: 8.3rem;
    background-size: 100% 100%;
    background: url('../img/fueling_up.png') no-repeat 50% 50%;
    @include image-2x('../img/fueling_up_2x.png', 8.3rem, 8.3rem);
  }
  .icon {
    font-size: 200%;
  }
}

/* welcome */
.welcome {
  .scroll-content, .bar-footer {
    text-align: center;
  }
}

.authFlowScreens {
  background: $primary-color url('../img/splash.jpg') no-repeat 50%;
  background-size: 100% 100%;
  @include image-2x('../img/splash_2x.jpg', 100%, 100%);
}

/* loginScreen */
.loginScreen {
  background: transparent !important;
  color: $text-knockout-color;
  text-align: center;
  .scroll-content {
    padding: 1em;
  }
  a {
    color: $text-knockout-color;
  }
  h1,h2,h3,h4 {
    color: $text-knockout-color;
  }
  h2 {
    font-size: 250%;
    padding-top: .3rem;
    color: $text-knockout-color;
  }
  h4 {
    font-style: italic;
    font-size: 110%;
    padding-bottom: 1rem;
  }
  .padding {
    padding: 0 2rem;
  }
}

.feedbackScreen {
  background: $primary-color url('../img/feedback.jpg') no-repeat 100% !important;
  background-size: 100% 100% !important;
  @include image-2x('../img/feedback_2x.jpg', 100%, 100%);
}

/* welcomeScreen */
.welcomeScreen {
  .scroll-content {
    padding: 3em;
  }
}

/* sideMenu */
.menu {
  background: url('../img/splash_dk.jpg') no-repeat 0 0;
  background-size: 100% 100%;
  color: $text-knockout-color;
  @include image-2x('../img/splash_dk_2x.jpg', 100%, 100%);
    .item {
      background: transparent;
      border: 0;
    }
  .bar-header {
    border: 0;
    background-size: 100% 0px;
    background-color: rgba(0,0,0,0);
  }
}

.sideMenuBlockerCloser {
  display: none;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 275px;
  z-index: 999999;
  background: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==) transparent;
}

.sideMenuVisible {
  .screens {
    -webkit-transform: translate3d(275px, 0, 0);
    -ms-transform: translate3d(275px, 0, 0);
    transform: translate3d(275px, 0, 0);
  }
  .sideMenuBlockerCloser {
    display: block;
  }
}

/* profileScreen */
.profileScreen .userListItem {
  margin-top: -1px;
}

.profileEditScreen {
  .scroll-content > .list {
    margin-top: -1px;
  }
  textarea {
    height: 50px;
    resize: none;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

/* heroesScreen */
.round-buttons {
  position: absolute;
  bottom: 0;
  z-index: 1;
  height: 10rem;
  width: 100%;
  border: 0;
  background: $buttons-bg-color;
  .icon, button {
    width: 7.5rem;
    height: 7.5rem;
    margin: 1.4rem;
  }
  .icon-button {
    width: 7.5rem;
    height: 7.5rem;
  }
  .button-yes {
    background: url('../img/button_yes_big.png') no-repeat 0 0;
    @include image-2x('../img/button_yes_big_2x.png', 7.5rem, 7.5rem);
    background-size: 7.5rem, 7.5rem;
  }
  .button-no {
    background: url('../img/button_no_big.png') no-repeat 0 0;
    @include image-2x('../img/button_no_big_2x.png', 7.5rem, 7.5rem);
    background-size: 7.5rem, 7.5rem;
  }
  .button-info {
    padding: 0;
    width: 6.5rem;
    height: 6.5rem;
    border: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -3.5rem 0 0 -3.5rem;
    background: url('../img/button_info_big.png') no-repeat 0 0;
    @include image-2x('../img/button_info_big_2x.png', 6.5rem, 6.5rem);
    background-size: 7.5rem, 7.5rem;
  }
  &.top {
    top: 0.8rem;
    right: 1rem;
    bottom: initial;
    width: 3.9em;
    background: transparent;
    z-index: 10;
    .icon {
      width: 2.75rem;
      height: 2.75rem;
      background-size: 2.75rem, 2.75rem;
      margin: 0;
    }
    button {
      display: none;
    }
  }
}