.screens {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  -webkit-transition: -webkit-transform .2s ease;
     -moz-transition:    -moz-transform .2s ease;
          transition:         transform .2s ease;

  & > * {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }

  .rs-left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  .rs-center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .rs-right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  /* https://github.com/driftyco/ionic/blob/master/scss/_transitions.scss */
  .rs-transition {
    // keep these durations in sync with `App.changeScreen` delay
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
    transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
  }
}

.sideMenuVisible .screens {
  -webkit-transform: translate3d(275px, 0, 0);
  -ms-transform: translate3d(275px, 0, 0);
  transform: translate3d(275px, 0, 0);
}

.sideMenuBlockerCloser {
  display: none;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 275px;
  z-index: 999999;
  background: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==) transparent;
}
.sideMenuVisible .sideMenuBlockerCloser {
  display: block;
}

.bar-header h1.title img {
  height: 16px;
  position: relative;
  top: 2px;
}

.bar-footer .button-full {
  margin: 0;
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
}

.welcome .scroll-content {
  height: 100%;
  background: url('../img/splash.png') no-repeat;
  background-size: cover;
  text-shadow: 0 0 .4em white, 0 0 1em white;
}

.profileScreen .userListItem {
  margin-top: -1px;
}