@mixin flex-vertical-center() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
}

a {
  color: black;
}

.screens {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  -webkit-transition: -webkit-transform .2s ease;
     -moz-transition:    -moz-transform .2s ease;
          transition:         transform .2s ease;

  & > * {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }

  .rs-left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  .rs-center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .rs-right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  /* https://github.com/driftyco/ionic/blob/master/scss/_transitions.scss */
  .rs-transition {
    // keep these durations in sync with `App.changeScreen` delay
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
    transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
  }
}

.sideMenuVisible .screens {
  -webkit-transform: translate3d(275px, 0, 0);
  -ms-transform: translate3d(275px, 0, 0);
  transform: translate3d(275px, 0, 0);
}

.sideMenuBlockerCloser {
  display: none;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 275px;
  z-index: 999999;
  background: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==) transparent;
}
.sideMenuVisible .sideMenuBlockerCloser {
  display: block;
}

.menu-left .ion-shuffle::before {
  transform: rotate(-90deg);
}

.bar-header h1.title img {
  height: 16px;
  position: relative;
  top: 2px;
}

.bar-flat {
  background: transparent;
}

.list-topless .item:first-child {
  border-top: 0;
}

p.center {
  text-align: center;
}

.bar-footer .button-full {
  margin: 0;
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
}
.bar-footer .title-link {
  font-size: 100%;
  font-weight: inherit;
}

.welcome {
  .scroll-content, .bar-footer {
    text-align: center;
  }
}

.profileScreen .userListItem {
  margin-top: -1px;
}

.wallet-card {
  text-align: center;

  .corner-ribbon {
    width: 200px;
    background: #e43;
    position: absolute;
    top: 10px;
    left: -70px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .remaining {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    font-size: 10px;
    color: inherit;
    h3 {
      margin: 0;
      font-size: 20px;
    }
  }

  .avatar {
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  h2 {
    font-size: 16px;
    margin-top: 10px;
  }

  p {
  margin: 1em 0;
    &.sushi {
      text-align: left;
    }
  }

  .col {
    padding-top: 0;
    &:first-child {
      padding-right: 16px;
    }
    &:last-child {
      padding-left: 16px;
      border-left: 1px dashed #aaa;
    }
    h4 {
      margin-top: 0;
      &::before {
        padding-right: 5px;
      }
    }
    p {
      text-align: center;
      &.sushi {
        text-align: left;
      }
    }
  }
}